body{
    background-color: #3f3e3e;
    color: #fff;
}
.login{
    position: relative;
    left: 44%;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .container-1{
        overflow: hidden;
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
    }
    .container-1 input#search{
      width: 300px;
      height: 50px;
      background: #000000;
      border: none;
      font-size: 10pt;
      float: left;
      color: #fff;
      padding-left: 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    .container-1 input#search::-webkit-input-placeholder {
        color: #acb201;
     }
     .container-1 input#search:-ms-input-placeholder {  
        color: #acb201;  
     }
    .container-1 button.icon{
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
     
      border: none;
      background: #232833;
      height: 50px;
      width: 50px;
      color: #acb201;
      opacity: 0;
      font-size: 10pt;
     
      -webkit-transition: all .55s ease;
      -moz-transition: all .55s ease;
      -ms-transition: all .55s ease;
      -o-transition: all .55s ease;
      transition: all .55s ease;
    }
    .container-1:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
        outline: none;
        opacity: 1;
        margin-left: -50px;
    }
     
    .container-1:hover button.icon:hover{
      background: white;
    }
}

.alumnos_formulario{
    display: flex;
    flex-direction: row;
    width: 50%;
    .logo{
        width: 10%;
        position: absolute;
        left: 70%;
        top: 24%
    }
}
.alumnos{
    border: 1px solid black;
}
.button{
    width: 14%;
    position: absolute;
    left: 51%;
    top: 28%;
}
.itemsTitulo{
    position: relative;
    left: 6px;
    list-style: none;
}
.items{
    list-style: none;
    margin: 0;
    padding: 0;
}
input:out-of-range{
    border: 2px solid red
}
input:invalid{
    border: 2px solid red
}
